<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	 <!-- zhanzhang baidu -->	
        <meta name="baidu-site-verification" content="EGl3bo49eC" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                FBSENDER<br />
                lmctrello@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://vxixi.com">羽毛球比赛规则</a><br />
              </p>
              <p>
              	<a href="http://vxixi.com/guize/qiupai">羽毛球拍</a><br/>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
