<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	 <!-- zhanzhang baidu -->	
        <meta name="baidu-site-verification" content="EGl3bo49eC" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script> 
        <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
    </head>
    <body>

      <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="/">{{ site.name }}</a></li>
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Blog <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/ruby_index.html">Ruby</a></li>
              <li><a href="/sem_index.html">SEM</a></li>
              <li><a href="/seo_index.html">SEO</a></li>
              <li><a href="/linux_index.html">Linux</a></li>
              <li><a href="/git_index.html">Git</a></li>
          </li> 
        </ul>
        </nav>
      </div>
      </header>
      <div class="container site">
      {{ content }}
      </div>

      <div class="footer">
        <div class="contact">
          <p>
          FBSENDER<br />
          lmctrello@gmail.com
          </p>
        </div>
        <div class="contact">
          <p>
          <a href="http://vxixi.com">羽毛球比赛规则</a><br />
          </p>
          <p>
          <a href="http://vxixi.com/guize/qiupai">羽毛球拍</a><br/>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
