<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- zhanzhang baidu --> 
    <meta name="baidu-site-verification" content="EGl3bo49eC" />
    <!-- webmaster google -->
    <meta name="google-site-verification" content="cWtgcFvtBMIBs7tOMyV8VvpDlGCqMov2sn3sgoz9KfY" />
    <!-- zhanzhang 360 -->
    <meta name="360-site-verification" content="7080b590cebb7d8d7b023599c44552fe" />
    <title>{{ page.title }}</title>
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description}}">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
      h1{
        font-size: 20px;
        }
        h2{
          font-size:18px;
        }
        h3{
          font-size:16px;
          margin-top:10px;
        }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" style="background-color:#d9edf7;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://fbsender.github.io/">fbsender's blog</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="http://www.ddzhusu.com/">滴滴住宿</a></li>
              <li><a href="http://gaotie.ddzhusu.com/">滴滴高铁</a></li>
              <li><a href="http://dongche.ddzhusu.com/">滴滴动车</a></li>
              <li><a href="http://huoche.ddzhusu.com/">滴滴火车</a></li>
              <li><a href="http://bus.ddzhusu.com/">滴滴公交</a></li>
              <li><a href="http://map.ddzhusu.com/">滴滴地图</a></li>
              <li><a href="http://flight.ddzhusu.com/">滴滴航班</a></li>
              <li><a href="http://hotel.ddzhusu.com/">滴滴酒店</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="glad">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- blog_页首横幅 -->
        <ins class="adsbygoogle"
          style="display:inline-block;width:728px;height:90px"
          data-ad-client="ca-pub-6154757354013530"
          data-ad-slot="8243426005"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    {{ content }}
    <section style="border-top:1px solid #e5e5e5;" class="container">
      <div class="row">
        <div id="SOHUCS">
        </div>
        <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
        <script type="text/javascript">
          window.changyan.api.config({
            appid = 'cyrtgRu9y',
            conf = 'prod_523a6471049c4f19c1586aab3dda2933'
          });
        </script>
      </div>
    </section>
    <footer style="border-top:1px solid #e5e5e5;text-align:center;" class="hidden-sm hidden-xs">
      <div class="container">
        <div class="row">
          <p style="margin-top:20px;">
            <a href="http://www.huoche.cn/">火车票查询</a> | <a href="http://gcw.vxixi.com/">小苹果广场舞</a> | <a href="http://air.vxixi.com/">空气净化器</a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
